<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Můj blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<main class="container">
    <h1>Seznam článků</h1>

    <div th:each="clanek : ${seznam}">
        <div>
            <div>Autor: <span th:utext="${clanek.autor}">Jan</span></div>
            <div>Titulek: <span th:utext="${clanek.title}">Hus</span></div>
            <div>Datum vydání: <span th:utext="${#temporals.format(clanek.published, 'd. MMMM yyyy')}">1370</span></div>
        </div>
        <div>
            <div>První odstavec:</div>
            <div th:utext="${clanek.perex}">Hus</div>
        </div>
        <div>
            <a th:href="@{/post/{slug}(slug=${clanek.slug})}">Celý článek</a>
        </div>
        <p>&nbsp;</p>

    </div>

</main>
</body>
</html>


<!--    <div class="pager">-->
<!--        <a th:each="pageNumber : ${#numbers.sequence(0,osoby.totalPages-1)}"-->
<!--           th:href="@{/(size=${osoby.size}, page=${pageNumber})}"-->
<!--           th:text="${pageNumber + 1}"-->
<!--           class="page"-->
<!--           th:classappend="${pageNumber==osoby.number} ? 'active'"></a>-->
<!--    </div>-->
<!--    <div class="controls">-->
<!--        <a th:href="@{/vyber}" class="button">Článek</a>-->
<!--    </div>-->
